* {
	font-family: 'Faster One', cursive;
}

.gamePage {
	background-image: url(../images/gamebg.jpg);
	width: 1280px;
	height: 720px;
}

.splashContainer {
	background-image: url(../images/splashbg.jpg);
	width: 1280px;
	height: 720px;
}

.splashContainer h2 {
	font-family: 'Cabin', sans-serif;
}

.splashHeadline {
	text-align: center;
}

.splashHeadline h1 {
	font-size: 75px;
}

.splashButtonArea {
	text-align: center;
}

#splashButton {
	font-size: 50px;
	border: 2px solid;
	border-radius: 15px;
	margin-top: 165px;
}

.title {
	text-align: center;
}

.title p strong{
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
}

.title h1 {
	display: inline-block;
}

.title p {
	display: inline-block;
}

.moveCarOne {
	float: left;
}

.moveCarTwo {
	float: right;
}

.gameHeadline {
	font-size: 60px;
}

.raceTrack {
	margin-top: 200px;
}













