* {
	font-family: 'Faster One', cursive;
}

.gamePage {
	background-image: url(../images/gamebg.jpg);
	max-width: 1280px;
	max-height: 720px;
}

.splashContainer {
	background-image: url(../images/splashbg.jpg);
	max-width: 100%;
	max-height: 100%;
}

.splashContainer h2 {
	font-family: 'Cabin', sans-serif;
}

.splashHeadline {
	text-align: center;
}

.splashHeadline h1 {
	font-size: 5em;
}

.splashButtonArea {
	text-align: center;
}

#splashButton {
	font-size: 3em;
	border: 2px solid;
	border-radius: 15px;
	margin-top: 165px;
}

.title {
	text-align: center;
}

.title p strong{
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

.title h1 {
	display: inline-block;
}

.title p {
	display: inline-block;
}

.moveCarOne {
	float: left;
	margin: 1% 0  0 5%;
}

.moveCarTwo {
	float: right;
	margin: 1% 5% 0 0;
}

.gameHeadline {
	font-size: 4em;
}

.raceTrack {
	margin-top: 200px;
}

@media only screen
	and (max-device-width: 1024px) {

	}











